
header{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links{
    list-style: none;
    color: grey;
}
.nav_links li:hover {
    color: blue;
}
.nav_links li {
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
    cursor: pointer;
}
.button_nav {
    padding: 9px 25px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.button_trans {
    padding: 9px 25px;
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
}

.Part1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.half2 {

     position: relative;
}

.card1 {
    position: absolute;
    right: auto;
    bottom: auto;
    left: -5%;
    top: 15%;
    width: 250px;
}


.hero {
    display: inline-block;
    height: 650px;
}
.card2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom: -10%;
    right: -10%;
    height: 250px;
}


.section1{
    width: 1400px;
    margin: 0 auto;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.leftside{
    max-width: 550px;
    padding-top: 100px;

    }

.leftside h1{
    font-size: 60px;
}
.leftside h2{
    font-size: 20px;
    max-width: 430px;
}


.sponsors{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
     margin-bottom: 100px;
}

.sponsors_logos{
    
    display: flex;
}
.logo1,.logo2,.logo3,.logo4,.logo5 {
    display: flexbox;
    margin-right: 100px;
    margin-left: 100px;
}

.recent_projects{
    width: 1400px;
    margin: 0 auto;
}

.recent_projects h1{
    width: auto;
    padding: 0 10px;
    size: 40px;
}

.recent_projects h2{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 60px;


}

.recent_projects a{
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold ;
    color: blue;
}

.recent_projects h3 {
    padding: 0 10px;
}

.blocks{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    
}
.simplify,.dashcoin,.vectorify{
    display: flexbox;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(233, 219, 219);
}


.s1,.s2,.s3 {
    height: 190px;
    width: 280px;
    
}

.section2 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.clients {
    background-color: #292e47;;
    border: 1px solid rgb(246, 0, 41);
    height: 600px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}


.wts{
    display: flex;
    color: white;
    font-size: 40px;
    padding-top: 30px;
}
.middlesentence {
    display: flex;
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.kristin{
    position:relative;
    bottom: -25px;
    border: 1px solid black;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.client{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 25px
}
.clientname h3 {
    color: rgb(105, 181, 251);
    position: relative;
    bottom: -10px;
}

.clientname h4 {
    color: white;
    position: relative;
    top: -10px;
}

.emotes{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
}
.emoji1,.emoji2,.emoji3,.emoji4 {
    height: 200px;
    width: 200px;
}
.emoji1{
    position: relative;
    bottom: 645px;
    left: 150px;
}
.emoji2 {
    position: relative;
    bottom: 645px;
    left: 850px;
}
.emoji3 {
        position: relative;
        bottom: 300px;
        left: -250px;
    }

.emoji4 {
    position: relative;
    bottom: 300px;
    left: 450px;
}




.our_services{
    width: 1400px;
    margin: 0 auto;
}

.our_services h1{
    width: auto;
    padding: 0 10px;
    size: 40px;
}

.our_services h2{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 60px;


}

.our_services a{
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold ;
    color: blue;
}

.our_services h3 {
    padding: 0 10px;
}

.blocks{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 200px;
    
}
.inter,.experience,.develop{
    display: flexbox;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(233, 219, 219);
}


.i1,.i2,.i3 {
    position: relative;
    right: -50px;
    top: 0px;
    border: 1px transparent;
    background-color: azure;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}


.question {
    background-color: #ffc600;;
    border: 1px solid rgb(246, 0, 41);
    height: 500px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.question h3 {
    display: flex;
    color: black;
    font-size: 40px;
    padding-top: 90px;
}

.question p {
    position: relative;
    bottom: 180px;
    display: flex;
    color: grey;
    font-size: 20px;
    padding-top: 90px;
}

.email {
    position: relative;
    bottom: 200px;
    display: flex;
}

.emailboks{
    height: 50px;
    width: 400px;
}
.button_sus {
    padding: 9px 25px;
    margin-left: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.finish {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footercircle {
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
}

.footerleft{
    position: relative;
    left: -370px;
    padding: 9px 25px;
}
.footerleft h2 {
    font-size: 17px;
    color: grey;
}

.footerlinks {
    position: relative;
    left: 370px;
    display: flex;
    flex-direction: column;
}

.button_footer {
    font-size: 17px;
    padding: 9px 25px;
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
}
